<div class="container">
  <h2 class="title">Choose the Subject</h2>
  <div class="col-sm-6">
    <img src="images/courses.png" alt="">
  </div>
  <div class="col-sm-6">
    <form method="post" action="/courses">
           <label>Subject</label>
              <select class="form-control" name="subject">
                <option value="">Any Subject</option>
                <option value="AAAS">African and African American Studies</option>
                <option value="AAPI">Asian-American Pacific Islander</option>
                <option value="AMST">American Studies</option>
                <option value="ANTH">Anthropology</option>
                <option value="ARBC">Arabic Language, Literature, and Culture</option>
                <option value="BCBP">Biochemistry and Biophysics</option>
                <option value="BCHM">Biochemistry</option>
                <option value="BIBC">Biology and Biochemistry</option>
                <option value="BIOL">Biology</option>
                <option value="BIOP">Biophysics and Structural Biology</option>
                <option value="BIOT">Biotechnology</option>
                <option value="BIPH">Biological Physics</option>
                <option value="BISC">Biological Science</option>
                <option value="BUS">Business</option>
                <option value="CA">Creative Arts</option>
                <option value="CAST">Creativity, the Arts and Social Transformation</option>
                <option value="CBIO">Chemical Biology</option>
                <option value="CHEM">Chemistry</option>
                <option value="CHIN">Chiness</option>
                <option value="CHSC">Chemical Science</option>
                <option value="CLAS">Classical Studies</option>
                <option value="COMH">Comparative Humanities</option>
                <option value="COML">Comparative Literature and Culture</option>
                <option value="COMP">Composition</option>
                <option value="CONT">Continuation</option>
                <option value="COSI">Computer Science</option>
                <option value="EAS">East Asian Studies</option>
                <option value="ECON">Economics</option>
                <option value="ECS">European Cultural Studies</option>
                <option value="ED">Education</option>
                <option value="EL">Experiential Learning</option>
                <option value="ENG">English</option>
                <option value="ENVS">Environmental Studies</option>
                <option value="ESL">English as a Second Language</option>
                <option value="FA">Fine Arts</option>
                <option value="FILM">Film and Visual Media Studies</option>
                <option value="FIN">Finance</option>
                <option value="FREN">French and Francophone</option>
                <option value="GECS">German and European Cultural Studies</option>
                <option value="GER">German Studies</option>
                <option value="GRK">Greek</option>
                <option value="GS">Global Studies</option>
                <option value="HBRW">Hebrew Language, Literature and Culture</option>
                <option value="HISP">Hispanic Studies</option>
                <option value="HIST">History</option>
                <option value="HOID">History of Ideas</option>
                <option value="HRNS">Hornstein Jewish Professional Leadership Program</option>
                <option value="HS">Heller School for Social Policy and Management</option>
                <option value="HSSP">Health: Science, Society, and Policy</option>
                <option value="HUM">Humanities</option>
                <option value="HWL">Health, Wellness, and Life Skills</option>
                <option value="IGS">International and Global Studies</option>
                <option value="IIM">Independent Interdisciplinary Major</option>
                <option value="IMES">Islamic and Middle Eastern Studies</option>
                <option value="INT">Internship</option>
                <option value="ITAL">Italian Studies</option>
                <option value="JAPN">Japanese</option>
                <option value="JOUR">Journalism</option>
                <option value="KOR">Korean</option>
                <option value="LALS">Latin American and Latino Studies</option>
                <option value="LGLS">Legal Studies</option>
                <option value="LING">Linguistics</option>
                <option value="MATH">Mathematics</option>
                <option value="MERS">Medieval and Renaissance Studies</option>
                <option> value="MUS">Music</option>
                <option value="NBIO">Neuroscience and Biology</option>
                <option value="NEJS">Near Eastern and Judaic Studies</option>
                <option value="NEUR">Neuroscience</option>
                <option value="NPHY">Neuroscience and Physics</option>
                <option value="NPSY">Neuroscience and Psychology</option>
                <option value="PAX">Peace, Conflict, and Coexistence Studies</option>
                <option value="PEER">Peer Assistantship</option>
                <option value="PHIL">Philosophy</option>
                <option value="PHSC">Physical Science</option>
                <option value="PHYS">Physics</option>
                <option value="PMED">Premedical Studies</option>
                <option value="POL">Politics</option>
                <option value="PORT">Portuguese</option>
                <option value="PSYC">Psychology</option>
                <option value="QBIO">Quantitative Biology</option>
                <option value="RECS">Russian and European Cultural Studies</option>
                <option value="REL">Religious Studies</option>
                <option value="RUS">Russian Studies</option>
                <option value="SAS">South Asian Studies</option>
                <option value="SJSP">Social Justice and Social Policy</option>
                <option value="SOC">Sociology</option>
                <option value="SQS">Sexuality and Queer Studies</option>
                <option value="THA">Theater Arts</option>
                <option value="UWS">University Writing Seminar</option>
                <option value="WGS">Women's, Gender, and Sexuality Studies</option>
                <option value="YDSH">Yiddish and East European Jewish Culture</option>
              </select>
              <label>Semester</label>
                 <select class="form-control" name="term">
                    <option value="">Any Semester</option>
                    <option value="1193">Fall 2019</option>
                    <option value="1201">Spring 2020</option>
                    <option value="1202">Summer 2020</option>
                    <option value="1203">Fall 2020</option>
                  </select>
              <br />
      <button type="submit" class="btn btn-info mb-2" >Submit</button>
    </form>
  </div>
</div>

<br>

<div class="container">
  <div class="col-sm-12">
    <ul>
      <% courses.forEach(course => {%>
        <li>
          Subject: <%= course.subject %><br>
          Course #: <%= course.coursenum %><br>
          Name: <%= course.name %><br>
          Term: <%=course.term %><br>
          Section: <%=course.section %><br>
          <button type="button" class="btn btn-info"><a href="/note/<%= course.subject %>/<%= course.coursenum %>/<%=
              course.section %>/<%= course.term%>">Add a note</a></button>
          <button type="button" class="btn btn-info"><a href="/showNotes/<%= course.subject %>/<%= course.coursenum %>/<%=
              course.section %>/<%= course.term%>">Show notes</a></button>

        </li>
        <br>
      <% }) %>
    </ul>

  </div>
</div>
