<div class="container">
<div class="col-sm-6">
  <img src="/images/blank-profile-picture.png" alt="image of users">
</div>
<div class="col-sm-6">
<form method="post" action="editProfile"><center>
  <center> <h3><%= user.googlename %></h3>
    <h4><%= user.googleemail %></h4> </center>
  <br>
  <div class="form-group row" style="text-align:right">
    <label for="username" class="col-sm-6 col-form-label" >Change Username: </label>
    <div class="col-sm-6" style="text-align:left">
      <input type="text" name="username" value="<%=user.username %>">
    </div>
  </div>
  <div class="form-group row" style="text-align:right">
    <label for="university" class="col-sm-6 col-form-label">Current Institution</label>
    <div class="col-sm-6" style="text-align:left">
      <input type="text" name="university" value="<%=user.university %>">
    </div>
  </div>
  <div class="form-group row" style="text-align:right">
    <label for="imageURL" class="col-sm-6 col-form-label">Change Image by URL: </label>
    <div class="col-sm-6" style="text-align:left">
      <input type="text" name="imageURL" value="<%=user.imageURL %>">
    </div>
  </div>
<br>
  <div>
    <input class="btn btn-sm btn-info" type="submit" value="Update Profile">
  </div>
</form>
</div>
</div>
