<div class="container">
  <div class="col-sm-6">
    <img src="images/Sharing.jpg" alt="">
  </div>
  <div class="col-sm-6">
    <h2>Add your notes and share them with other students!</h2>
    <p>Type/Upload your notes for
    <%= subject %> <%= courseID %> <%= section %> <%= term %> </p>

    <form action="/addNote" method="post">
     <input type="hidden" name="subject" value="<%= subject %>">
     <input type="hidden" name="courseID" value="<%= courseID %>">
     <input type="hidden" name="section" value="<%= section %>">
     <input type="hidden" name="term" value="<%= term %>">

     <hr>
     <label for="author">Author</label>
     <input type="text" name="author" value="" placeholder="Author Name" class=" form-control">
     <h2>Your Notes</h2>
     <input type="text" name="note" value="">
     <!-- <textarea name="note" rows="5" cols="40"></textarea> -->
     <br>

     <!-- file including photos, pdf, or any type-->
     <label for="note">Notes: </label>
     <input type="file" class="form-control-file" name="note" value="">
     <hr>
     <br>
     <input class="button" type="submit" value="Submit your notes">
     <br>
    </form>
  </div>
</div>
