<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
  <h2><%= note.subject %> <%= note.courseID %> <%= note.section %> <%= note.term %></h2>
  <h3>Created by <%= note.author %></h3>
  <p>Created at <%= note.createdAt %></p>
  <!--<input type="radio" id="add" name="favorite" value="" />
  <label for="add" title="text">Add to Your Favorites</label>-->
  <form action="/addToFavorite/<%=note._id%>" method="post">
    <input class="button" type="submit" value="Add to my favorites">
  </form>

  <br><h3>Notes: </h3><br>
  <p><%= note.note %> </p>
  <br><br><br>
</div>
<div class="container">
  <h3>Comments / Ratings: </h3><br>
  <% comments.forEach(comment => {%>
    <div class="card" id="noteInfoCard">
      <div class="card-body">
        <h5 class="card-title" style="color:blue"><%=comment.user%></h5>
        <p class="card-text"><%= comment.comment %></p>
        <p class="card-text" id="demo"></p>
          <script>
            var text="";
            var i;
            var rate=<%=comment.rate %>;
            for(i=0;i<rate;i++){
              text+="★";
            }
            document.getElementById("demo").innerHTML = text;
          </script>
        <p class="card-text text-muted"><i>[Created at <%= comment.createdAt %>]</i>
        </p>


      </div>
    </div>
       <br>
       <br>
  <% }) %>

</div>
