<div class="container">
  <div class="col-sm-6">
    <img src="images/brandeis.jpeg" alt="">
  </div>
  <div class="col-sm-6">
      <h1>Notes</h1>

        <% notes.forEach(note => {%>
          <table>
          <tr><th>Author</th><th> <%= note.author %></th></tr>
          <tr><th>Subject</th><th> <%= note.subject %></th></tr>
          <tr><th>Title</th><th> <%= note.title %></th></tr>
          <tr><th>Course number </th><th> <%= note.courseID %></th></tr>
          <tr><th>Section</th><th> <%= note.section %></th></tr>
          <tr><th>Term</th><th><%= note.term%></th></tr>
          <tr><th>Notes</th><th><%= note.note%></th></tr>
          </table>
          <br>
        <% }) %>


  </div>
</div>
