<div class="container">
  <div class="col-sm-6">
    <img src="images/shownotes.jpg" alt="">
  </div>
  <div class="col-sm-6">
      <h1>Notes</h1>
      <div class="card-columns">
        <% notes.forEach(note => {%>

          <div class="card bg-info" style="width:40rem;">
            <div class="card body">
              <h5 class="card-title">By <%= note.author %> </h5>
              <h6 class="card-subtitle mb-2 text-muted">Created at <%= note.createdAt %></h6>
              <p class="card-text"> <%= note.subject %> <%= note.courseID %> <%= note.section %> <%= note.term %> </p>
              <p class="card-text"><%= note.note%></p>
                <% if (note.authorID.equals(user._id)){ %>
                  [<a href="/editNote/<%= note._id %>" class="card-link">Edit</a>]
                  [<a href="/remove/<%= note.subject %>/<%= note.courseID %>/<%=
                      note.section %>/<%= note.term%>/<%= note._id %>" class="card-link">Delete</a>]
                <% } %>
                  [<a href="/rating/<%= note._id %>" class="card-link">Rating</a>]
                  [<a href="mailto:<%= note.authorEmail %>">Email the author</a>]


            </div>
          </div>

          <!-- <table>
          <tr><th>Author</th><th> %= note.author %></th></tr>
          <tr><th>Subject</th><th> %= note.subject %></th></tr>
          <!--<tr><th>Title</th><th> %= note.title %></th></tr>-->
          <!-- <tr><th>Course number </th><th> %= note.courseID %></th></tr>
          <tr><th>Section</th><th> %= note.section %></th></tr>
          <tr><th>Term</th><th>%= note.term%></th></tr>
          <tr><th>Created At</th><th> %= note.createdAt %> </th></tr>
          <tr><th>Notes</th><th> %= note.note%> </th></tr>
          </table> -->
          <br>

          <br><br>
        <% }) %>
                </div>
  </div>
</div>
