<div class="container">
  <div class="col-sm-6">
    <img src="images/brandeis.jpeg" alt="">
  </div>
  <div class="col-sm-6">
      <h1>Reviews</h1>

        <% reviews.forEach(review => {%>
          <table>
          <tr><th>Author</th><th> <%= review.author %></th></tr>
          <tr><th>Subject</th><th> <%= review.subject %></th></tr>
          <tr><th>Title</th><th> <%= review.title %></th></tr>
          <tr><th>Course number </th><th> <%= review.courseID %></th></tr>
          <tr><th>Section</th><th> <%= review.section %></th></tr>
          <tr><th>Term</th><th><%= review.term%></th></tr>
          </table>
          <br>
        <% }) %>

      <ul>
      <% reviews.forEach(review => {%>
        <li>
          Author: <%= review.author %> <br>
          Subject: <%= review.subject %><br>
          Title: <%= review.title %><br>
          Course number: <%= review.courseID %><br>
          Section <%= review.section %> in term <%= review.term %>
          <br>
        </li>
      <% }) %>
      </ul>
  </div>
</div>
